
label{
    display: block;
    margin-bottom: 8px;
}

input, select{
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #1F1F1F;
    background-color: #1F1F1F;
    color: #fff;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

#savedMoviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 8px;
}


.movie-card {
    border: 2px solid red;
    width: calc(25vw - 32px);
    margin: 8px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #1F1F1F; /* Adjust background color as needed */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05); /* Increase size on hover */
}
.card__rating {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #EF4444; /* Adjust background color as needed */
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.card__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.movie-card .card__description {
    font-size: 1rem;
    margin-bottom: 14px;
}

.remove-btn:hover,
.edit-btn:hover {
    background-color: #EF4444; /* Darker red on hover */
}

/*Loading Animation Overlay*/
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


/*LOADING ANIMATION*/
.eye-lid {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 9px 0 2px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
}
.eye {
    background-color: #FFFCF4;
    border-radius: 50%;
    transform: translate3d(0, 0, 0) rotate(90deg);
    width: 120px;
    height: 120px;
    animation: eye 5s infinite;
}
@keyframes eye {
    12%,
    25% {
        width: 100px;
        height: 110px;
    }
    37%,
    50% {
        width: 60px;
        height: 130px;
    }
    63%,
    75% {
        width: 100px;
        height: 103px;
    }
    87% {
        width: 100px;
        height: 100px;
    }
}
.cornea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: eye-color 5s infinite;
}
@keyframes eye-color {
    63%, 75% {
        background-color: rgb(137, 1, 1);
    }
}
.white-pupil {
    position: absolute;
    top: 70%;
    left: 10%;
    border-radius: 50%;
    background-color: #FFFCF4;
    width: 20px;
    height: 20px;
}